# Loops in Python
<h4>while loop</h4>

In [2]:
i = 1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

<h4>for loop</h4>

In [ ]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

# Iterating with loops
<h4>list of strings</h4>

In [3]:
fruits = ['apple', 'banana', 'cherry']
for fruit in fruits:
    print(fruit)

apple
banana
cherry

<h4> dictionary key value </h4>

In [ ]:
person = {'name':'Ali', 'age':25,'city':'Kohat'}
for key,value in person.items():
    print(key,' : ', value)

name  :  Ali
age  :  25
city  :  Kohat

<h2>zip in loop</h2>

- zip function combines multiple iterables

In [5]:
names = ['Ali', 'Iqbal', 'Khan']
ages = [25,30,35]
weights =(70, 78,60)
for name, age, w in zip(names,ages,weights):
    print(f'{name} is {age} years old & his weight is {w}')

Ali is 25 years old & his weight is 70
Iqbal is 30 years old & his weight is 78
Khan is 35 years old & his weight is 60

<h3>while loop iterating until user enter exit </h3>

In [6]:
user_input = ""
while user_input.lower()!= "exit":
    user_input = input("Enter something (type 'stop' to end): ")
    print("You entered:", user_input)

You entered: Luqman
You entered: end
You entered: stop
You entered: exit

<h3>for loop printing each letter on a new line</h3>

In [7]:
word = "Pakistan"
for letter in word:
    print(letter)

P
a
k
i
s
t
a
n

# range() function

- printing even numbers between 2 and 15
- printinh numbers in reverse from 5 to 1

In [7]:
for i in range(2, 15, 2):
    print(i)

for i in range(5,0,-1):
    print(i)

2
4
6
8
10
12
14
5
4
3
2
1

# break statement
- break the loop on a condition

In [8]:
for i in range(1, 16):
    if i == 4:
        break
    print(i)

1
2
3

In [9]:
count = 0
while True:
    print(count)
    count += 1
    if count == 6:
        break

0
1
2
3
4
5

# enumerate
- provide both index & the value

In [11]:
items = ['KPK', 'Sindh', 'Balochistan']
for index, item in enumerate(items):
    print(index, item)

0 KPK
1 Sindh
2 Balochistan

# continue statement
- used to skip value

In [14]:
for i in range(1, 11):
    if i == 3 or i == 6:
        continue
    print(i)

1
2
4
5
7
8
9
10

# pass statement

- null operation to not generate error

In [11]:
for i in range(1, 6):
    if i < 2:
        pass    # does nothing for numbers less than 2
    else:
        print(i)

2
3
4
5

# Working with list

In [17]:
a = [i * 2 for i in range(1, 10)]
a

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [18]:
squares = [i ** 2 for i in range(5)]
print(squares)

[0, 1, 4, 9, 16]

In [19]:
a = []
for i in range(1, 10):
    a.append(i * 4)
a

[4, 8, 12, 16, 20, 24, 28, 32, 36]

# Nested loop

In [21]:
for i in range(5):
    for j in range(2):
        print(f"i = {i}, j = {j}")

i = 0, j = 0
i = 0, j = 1
i = 1, j = 0
i = 1, j = 1
i = 2, j = 0
i = 2, j = 1
i = 3, j = 0
i = 3, j = 1
i = 4, j = 0
i = 4, j = 1